@model HotelViewModel;
@{
    ViewData["Title"] = "User List";
}

<h2>Users</h2>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>

                <td>GuestId</td>
                <td>Name</td>
                <td>Suraname</td>
                <td>Client since</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GuestList)
            {
                <tr>

                    <td>@item.GuestID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Member_since.Year</td>
                </tr>
            }
        </tbody>
    </table>
</div>